# dependencies
node_modules/

# build outputs
dist/
*.tsbuildinfo

# package artifacts
*.tgz

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# OS / editors
.DS_Store
.vscode/
.idea/

# tests / coverage
coverage/

# expo / metro caches
.expo/
.expo-shared/
